modules/samples/BPSWorkFlow/UserCreation/UserCreationProcess/UserCreationSampleService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://ws.apache.org/axis2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.apache.org/axis2">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2">
            <xs:element name="addUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addUserRequest">
        <wsdl:part name="parameters" element="ns:addUser" />
    </wsdl:message>
    <wsdl:message name="addUserResponse">
        <wsdl:part name="parameters" element="ns:addUserResponse" />
    </wsdl:message>
    <wsdl:portType name="UserCreationSampleServicePortType">
        <wsdl:operation name="addUser">
            <wsdl:input message="ns:addUserRequest" wsaw:Action="urn:addUser" />
            <wsdl:output message="ns:addUserResponse" wsaw:Action="urn:addUserResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UserCreationSampleServiceSoap11Binding" type="ns:UserCreationSampleServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="addUser">
            <soap:operation soapAction="urn:addUser" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UserCreationSampleServiceSoap12Binding" type="ns:UserCreationSampleServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="addUser">
            <soap12:operation soapAction="urn:addUser" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UserCreationSampleServiceHttpBinding" type="ns:UserCreationSampleServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="addUser">
            <http:operation location="addUser" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UserCreationSampleService">
        <wsdl:port name="UserCreationSampleServiceHttpSoap11Endpoint" binding="ns:UserCreationSampleServiceSoap11Binding">
            <soap:address location="http://appserver.stratoslive.wso2.com/services/t/sanjeewa.info/UserCreationSampleService.UserCreationSampleServiceHttpSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="UserCreationSampleServiceLocalSoap11Endpoint" binding="ns:UserCreationSampleServiceSoap11Binding">
            <soap:address location="local:///services/t/sanjeewa.info/UserCreationSampleService.UserCreationSampleServiceLocalSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="UserCreationSampleServiceHttpsSoap11Endpoint" binding="ns:UserCreationSampleServiceSoap11Binding">
            <soap:address location="https://appserver.stratoslive.wso2.com/services/t/sanjeewa.info/UserCreationSampleService.UserCreationSampleServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="UserCreationSampleServiceLocalSoap12Endpoint" binding="ns:UserCreationSampleServiceSoap12Binding">
            <soap12:address location="local:///services/t/sanjeewa.info/UserCreationSampleService.UserCreationSampleServiceLocalSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="UserCreationSampleServiceHttpsSoap12Endpoint" binding="ns:UserCreationSampleServiceSoap12Binding">
            <soap12:address location="https://appserver.stratoslive.wso2.com/services/t/sanjeewa.info/UserCreationSampleService.UserCreationSampleServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="UserCreationSampleServiceHttpSoap12Endpoint" binding="ns:UserCreationSampleServiceSoap12Binding">
            <soap12:address location="http://appserver.stratoslive.wso2.com/services/t/sanjeewa.info/UserCreationSampleService.UserCreationSampleServiceHttpSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="UserCreationSampleServiceHttpEndpoint" binding="ns:UserCreationSampleServiceHttpBinding">
            <http:address location="http://appserver.stratoslive.wso2.com/services/t/sanjeewa.info/UserCreationSampleService.UserCreationSampleServiceHttpEndpoint/" />
        </wsdl:port>
        <wsdl:port name="UserCreationSampleServiceHttpsEndpoint" binding="ns:UserCreationSampleServiceHttpBinding">
            <http:address location="https://appserver.stratoslive.wso2.com/services/t/sanjeewa.info/UserCreationSampleService.UserCreationSampleServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>